/*默认样式*/
*{margin:0; padding:0}
li{list-style:none}

.index_div .index_span{width:80px;height:40px;line-height:40px;text-align:center;display:block;float:left;margin-top:20px;}
.index_div input{width:400px;height:40px;margin-top:20px;padding-left:10px;}
.index_div .btn{width:80px;height:30px;margin-left:20px;padding:0}